<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    <strong>Gadgets Heaven</strong> - The One Place For All Gadgets
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>

                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        My Account
                    </a>

                    <form style="margin-left: 10px;" action="/logout" class="flex-c-m">
                        <button class="btn btn-danger">
                            LogOut
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            <li>
                <div class="left-top-bar">
                    <strong>Gadgets Heaven</strong> - The One Place For All Gadgets
                </div>
            </li>

            <li>
                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        Help & FAQs
                    </a>

                    <a href="#" class="flex-c-m p-lr-10 trans-04">
                        My Account
                    </a>

                    <form style="margin-left: 10px;" action="/logout" class="flex-c-m">
                        <button class="btn btn-danger">
                            LogOut
                        </button>
                    </form>

                    <!-- <a href="#" class="flex-c-m p-lr-10 trans-04">
                    EN
                </a>

                <a href="#" class="flex-c-m p-lr-10 trans-04">
                    USD
                </a> -->
                </div>
            </li>
        </ul>
    </div>
</header>